* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.hero-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #bdd6e2;
  margin: 0px 20px;
}
.wrapper {
  width: 1280;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  display: flex;
  padding: 40px 0 30px;
  justify-content: space-between;
  align-items: center;
  background: #14e069;
  flex-wrap: wrap;
}
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.logo i {
  width: 45px;
  height: 45px;
  background: #cdeb23;
  border-radius: 50%;
  color: #222;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
}
.logo .logo-text {
  font-size: 24px;
  font-weight: 500;
  color: black;
}
nav .togglebtn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  display: none;
}
nav .togglebtn span {
  display: block;
  background-color: #007ced;
  margin: 5px 0px;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}
nav .navlinks {
  list-style-type: none;
}
nav .navlinks li {
  display: inline-block;
}
nav .navlinks li a {
  color: rgb(218, 238, 240);
  margin-right: 2.5rem;
}

nav .navlinks li a:hover {
  background: #d0ff00;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
.container .hero-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #444;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}
.hero-pic img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}
.hero-pic img:hover {
  transform: scale(1.2);
}
.hero-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.hero-text h5 {
  color: black;
  font-size: 14px;
}
.hero-text h5 span {
  color: #007ced;
  font-size: 16px;
}
.hero-text h1 {
  color: #007ced;
  font-size: 3rem;
}
.hero-text p {
  color: rgb(8, 8, 8);
}
.btn-group {
  margin: 45px 0;
}
.btn-group .btn {
  border-color: blueviolet;
  color: blueviolet;
  background-color: #17f774;
  padding: 12px 25px;
  margin: 5px 0;
  border-right: 7px;
  border-radius: 30px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 10px 10px -8px rgba(131, 5, 5, 0.78);
}
/* Responsive design and displaying nav bar for small screen */
@media (max-width: 930px) {
  nav .togglebtn {
    display: initial;
  }
  /* for toggle button */
  .click {
    top: 45px;
  }
  .click span {
    position: absolute;
    margin-top: 12px;
  }
  .click span:first-child {
    transform: rotate(-40deg);
  }
  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }
  .click span:last-child {
    transform: rotate(45deg);
    top: 0;
  }
  nav .navlinks {
    position: absolute;
    top: 110px;
    right: -100;
    bottom: 0;
    width: 60%;
    height: 100vh;
    background-color: #222;
    z-index: 3;
    box-shadow: 5px 13px 30px rgba(0, 0, 0, 0, 1);
    transition: 0.5;
    padding: 25px 0px;
  }
  nav .navlinks li {
    display: block;
  }
  nav .navlinks li a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }

  nav .navlinks.open {
    right: 0;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 2rem;
  }
  .hero-text {
    padding: 40px 20px;
  }
}

.bio {
  width: 100%;
  height: 60vh;
  background-color: #74c7b5;
  margin: 0px 20px;
}
.bio h2 {
  color: blueviolet;
  padding-left: 15px;
}
.bio ul {
  list-style-type: circle;
  margin: 10px;
  padding: 5px;
  font-weight: 700;
}
.education {
  width: 100%;
  height: 80vh;
  background-color: rgb(214, 240, 172);
  color: #222222;
  margin: 0px 20px;
}
.education ul li {
  list-style-type: none;
}
.education h2 {
  color: blueviolet;
  padding-left: 15px;
}
.sub-edu {
  margin: 10px;
  color: #cc0f93;
}
.contact {
  width: 100%;
  height: 50vh;
  margin: 0px 20px;
  background-color: #bdd6e2;
}
.contact h2 {
  color: blueviolet;
  padding-left: 15px;
}
.contact a {
  display: inline-block;
  width: auto;
  padding: 10px;
}
